@model PMSystem.Models.Project

@{ ViewBag.Title = "Details for project"; }

if (null != ViewBag.Errormessage)
{
    <div class="alert alert-danger">@ViewBag.Errormessage</div>
}

<h1>Details</h1>

<div>
    <h2>Project @Model.Name</h2>
    <p>Project Description: @Model.Description</p>
    <p>Status: @Model.Status %</p>
    @if (ViewBag.ProjectOwner != null)
    {
<p>Projekt-Owner: ViewBag.ProjectOwner.Vorname ViewBag.ProjectOwner.Nachname</p>}
    <h3>Tasks</h3>

    @foreach (PMSystem.Models.Task task in Model.Tasks)
    {
        if (ViewBag.Currentuser.Equals(ViewBag.ProjectOwner.Email) || ViewBag.Currentuser.Equals("admin@ymail.com"))
        {
<h4>Task: @Html.ActionLink(linkText: task.Name, actionName: "Details", controllerName: "Task", routeValues: new { p_ID = Model.Id, t_ID = task.Id }, htmlAttributes: null) (ID: @task.Id)</h4> }
else
{
<h4>Task: @task.Name</h4> }
<p>Status: @task.Status</p>
                <p>Beschreibung: @task.Description</p> if (ViewBag.Currentuser.Equals(ViewBag.ProjectOwner.Email) || ViewBag.Currentuser.Equals("admin@ymail.com"))
                {
<p>@Html.ActionLink(linkText: "Delete Task", actionName: "Delete", controllerName: "Task", routeValues: new { t_ID = task.Id }, htmlAttributes: null)</p> }
<h4>Subtasks von @task.Name</h4> foreach (PMSystem.Models.SubTask subtask in task.SubTasks)
{
    if (ViewBag.Currentuser.Equals(ViewBag.ProjectOwner.Email) || ViewBag.Currentuser.Equals("admin@ymail.com"))
    {
<p>Subtask: @Html.ActionLink(linkText: subtask.Name, actionName: "Details", controllerName: "SubTask", routeValues: new { p_ID = Model.Id, s_ID = subtask.Id }, htmlAttributes: null) (@subtask.Id)</p> }
else
{
<p>Subtask: @subtask.Name</p> }
<p>Status: @subtask.Status</p>
                    <p>Beschreibung: @subtask.Description</p> if (null != subtask.User)
                    {
<p>Verantwortlicher User: @subtask.User.Vorname @subtask.User.Nachname</p> }
if (ViewBag.Currentuser.Equals(ViewBag.ProjectOwner.Email) || ViewBag.Currentuser.Equals("admin@ymail.com"))
{
<p>@Html.ActionLink(linkText: "Delete Subtask", actionName: "Delete", controllerName: "SubTask", routeValues: new { s_ID = subtask.Id }, htmlAttributes: null)</p>}
}
}

    @if ((ViewBag.ProjectOwner != null && ViewBag.ProjectOwner.Email.Equals(ViewBag.Currentuser)) || "admin@ymail.com".Equals(ViewBag.Currentuser))
    {
@Html.ActionLink(linkText: "Edit Project", actionName: "Edit", controllerName: "Project", routeValues: new { p_ID = Model.Id }, htmlAttributes: null)}
</div>