@model PMSystem.Models.Task

@{ ViewBag.Title = "Details for task"; }

@if (null != ViewBag.Errormessage)
{
    <div class="alert alert-danger">@ViewBag.Errormessage</div>
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
    <h3>Subtasks</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>User</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
        @foreach (PMSystem.Models.SubTask subtask in ViewBag.Subtasks)
        {
<tr>
    <td>@subtask.Id</td>
    <td>@Html.ActionLink(linkText: subtask.Name, actionName: "Details", controllerName: "SubTask", routeValues: new { p_ID = ViewBag.ProjectID, s_ID = subtask.Id }, htmlAttributes: null)</td>
    <td>@subtask.Description</td>
    <td>@subtask.User.Vorname  @subtask.User.Nachname</td>
    <td>@subtask.Status</td>
    <td>@Html.ActionLink(linkText: "Delete subtask", actionName: "Delete", controllerName: "SubTask", routeValues: new { s_ID = subtask.Id }, htmlAttributes: null)</td>
</tr>}
    </table>
</div>
<p>
    @Html.ActionLink("Edit task", "Edit", new { p_ID = ViewBag.ProjectID, t_ID = Model.Id })
</p>
